*.pkl
*.pyc
*.log
*.npy
!0.npy
!1.npy
*.JPG
*.bmp
imgs
model
train
*.h5
*.gz
*.ipch
VCCC/VCBattle/build
VCCC/VCBattle/x64
VCCC/VCBattle/cm_build
VCCC/x64
*.db
VCCC/.vs
.idea/
bak.idea/
.vs/
*.pyperf
learning/upgo_meta/log/
learning/upgo_meta/ckpt/
*.png
vcnn_env/